<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tienda Deportiva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Producto: </ion-label>
    <ion-input [(ngModel)]="productoEditando.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-input [(ngModel)]="productoEditando.precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoria: </ion-label>
    <ion-input [(ngModel)]="productoEditando.categoria"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Stock: </ion-label>
    <ion-input [(ngModel)]="productoEditando.stock"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">
    Guardar producto
  </ion-button>
</ion-content>